*{
    text-align: center;

}

.form-cantainer {
   max-width: 500px;
    margin: auto;
    padding: 2px;
    /* display:flex; */
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ccc;

}

.form1{
    max-width: 500px;
    margin: auto;
    display:flex;
    justify-content: space-around;
    padding: 20px;
    
  

}
.mud1{
    margin: auto;
    padding:7px;
    
}