

.let{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* tornando minha página responsiva */
/* .responsivo{
    min-width: 200px;
    max-width: 1500px;
    max-height: 500px;
    min-height: 200px;
    /* margin: auto; */
    




